<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rebus" type="Rebus.Configuration.RebusConfigurationSection, Rebus" />
  </configSections>
  <connectionStrings>
		<add name="eventstore" connectionString="mongodb://localhost/jarvis-framework-es-test" />
		<add name="saga" connectionString="mongodb://localhost/jarvis-framework-saga-test" />
		<add name="readmodel" connectionString="mongodb://localhost/jarvis-framework-readmodel-test" />
		<add name="system" connectionString="mongodb://localhost/jarvis-framework-system-test" />
		<add name="engine" connectionString="mongodb://localhost/jarvis-framework-engine-test" />
    <add name="rebus" connectionString="mongodb://localhost/jarvis-rebus-test" />
    <add name="log" connectionString="mongodb://localhost/jarvis-log-test" />
  </connectionStrings>
  <rebus inputQueue="cqrs.rebus.test" errorQueue="cqrs.rebus.errors" workers="1" maxRetries="1">
    <endpoints>
      <add messages="Jarvis.Framework.Tests" endpoint="cqrs.rebus.test" />
    </endpoints>
  </rebus>
  <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.10.0.62" newVersion="1.10.0.62" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.10.0.62" newVersion="1.10.0.62" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.3.13283" newVersion="2.6.3.13283" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>