<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.0" targetFramework="net461" />
  <package id="Castle.LoggingFacility" version="5.0.1" targetFramework="net461" />
  <package id="Castle.Windsor" version="5.0.1" targetFramework="net461" />
  <package id="Crc32C.NET" version="1.0.5.0" targetFramework="net461" />
  <package id="DnsClient" version="1.3.1" targetFramework="net461" />
  <package id="fasterflect" version="2.1.3" targetFramework="net45" />
  <package id="Machine.Specifications" version="1.0.0" targetFramework="net461" />
  <package id="metrics" version="0.5.4.1001" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.10.4" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.10.4" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.10.4" targetFramework="net461" />
  <package id="MongoDB.Libmongocrypt" version="1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NStore.Core" version="0.10.0" targetFramework="net461" />
  <package id="NStore.Domain" version="0.10.0" targetFramework="net461" />
  <package id="NStore.Persistence.Mongo" version="0.10.0" targetFramework="net461" />
  <package id="NSubstitute" version="1.8.1.0" targetFramework="net45" />
  <package id="NUnit" version="3.12.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.16.1" targetFramework="net461" developmentDependency="true" />
  <package id="Rebus" version="5.3.1" targetFramework="net461" />
  <package id="Rebus.Castle.Windsor" version="4.1.0" targetFramework="net461" />
  <package id="Rebus.Events" version="4.0.1" targetFramework="net461" />
  <package id="Rebus.MongoDb" version="5.0.0" targetFramework="net461" />
  <package id="Rebus.Msmq" version="5.0.0" targetFramework="net461" />
  <package id="Serilog" version="2.9.0" targetFramework="net461" />
  <package id="SharpCompress" version="0.23.0" targetFramework="net461" />
  <package id="Snappy.NET" version="1.1.1.8" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Dataflow" version="4.11.0" targetFramework="net461" />
</packages>