root = true

[*]
end_of_line = crlf
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# RCS1163: Unused parameter.
dotnet_diagnostic.RCS1163.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# CS1574: XML comment has cref attribute that could not be resolved
dotnet_diagnostic.CS1574.severity = none

[*.xml]
indent_style = space

[*.cs]
csharp_new_line_before_open_brace = all