<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="jarvis" value="https://www.myget.org/F/jarvis/" />   
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="jarvis" value="https://www.myget.org/F/jarvis/" />
  </activePackageSource>
  <packageSourceMapping>
    <packageSource key="nuget.org">
        <package pattern="*" />
    </packageSource>
    <packageSource key="feed-ProximoAzDo">
        <package pattern="Jarvis*" />
        <package pattern="Proximo*" />
        <package pattern="Castle.Windsor.*" />
        <package pattern="Castle.Windsor" />
        <package pattern="Castle.LoggingFacility" />
        <package pattern="NEST2-Custom-Full" />
        <package pattern="Rebus.MongoDb" />
    </packageSource>
    <packageSource key="ProximoAzDo">
        <package pattern="Jarvis*" />
        <package pattern="Proximo*" />
        <package pattern="Castle.Windsor.*" />
        <package pattern="Castle.Windsor" />
        <package pattern="Castle.LoggingFacility" />
        <package pattern="NEST2-Custom-Full" />
        <package pattern="Rebus.MongoDb" />
    </packageSource>
  </packageSourceMapping>
</configuration>
