<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Metrics.NET" version="0.3.7" targetFramework="net45" />
  <package id="NEventStore" version="6.0.0-unstable0097" targetFramework="net45" />
  <package id="NEventStore.Domain" version="6.0.0-unstable0027" targetFramework="net45" />
</packages>