<div class="row">
    <div class="col-xs-12" style="margin-bottom: 10px">
        <div class="row">
            <div class="col-xs-12 col-md-9 col-lg-10">
                <input type="text" class="form-control input-lg" ng-model="logs.filters.searchText" />
            </div>
            <div class="col-xs-12 col-md-3 col-lg-2">
                <div class="btn-group" data-toggle="btn-toggle">
                    <button type="button" class="btn btn-flat btn-primary" ng-model="logs.filters.debug"
                            btn-checkbox title="Debug">
                        <i class="fa fa-bug"></i>
                    </button>
                    <button type="button" class="btn btn-flat btn-info" ng-model="logs.filters.info"
                            btn-checkbox title="Info">
                        <i class=" fa fa-info-circle"></i>
                    </button>
                    <button type="button" class="btn btn-flat btn-warning" ng-model="logs.filters.warn"
                            btn-checkbox title="Warn">
                        <i class=" fa fa-exclamation-triangle"></i>
                    </button>
                    <button type="button" class="btn btn-flat btn-danger" ng-model="logs.filters.error"
                            btn-checkbox title="Error">
                        <i class=" fa fa-times-circle"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div dir-paginate="log in logs.items | itemsPerPage: 5" class="logentry" ng-class="log.le" total-items="logs.totalItems">
            <div class="col-xs-12">
                <h5 class="pull-left">{{::log.me}}</h5>
                <div class="pull-right">{{::log.ts}}</div>
            </div>
            <div class="col-xs-12">

            </div>
            <pre>{{ log | json}}</pre>
        </div>
        <dir-pagination-controls template-url="logs/log.tpl.html"
                                 on-page-change="logs.pageChanged(newPageNumber)">
        </dir-pagination-controls>
    </div>
</div>