<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.1.1" targetFramework="net45" userInstalled="true" />
  <package id="Castle.Core-log4net" version="4.1.1" targetFramework="net45" userInstalled="true" />
  <package id="Castle.LoggingFacility" version="4.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Castle.Windsor" version="4.0.0" targetFramework="net45" userInstalled="true" />
  <package id="log4net" version="2.0.8" targetFramework="net45" userInstalled="true" />
  <package id="Metrics.NET" version="0.3.7" targetFramework="net45" />
  <package id="MongoDB.Bson" version="2.4.0" targetFramework="net45" />
  <package id="MongoDB.Driver" version="2.4.0" targetFramework="net45" />
  <package id="MongoDB.Driver.Core" version="2.4.0" targetFramework="net45" />
  <package id="MongoDB.Driver.GridFS" version="2.4.0" targetFramework="net45" />
  <package id="NEventStore" version="6.0.0-beta0042" targetFramework="net45" />
  <package id="NEventStore.Domain" version="6.0.0-beta0016" targetFramework="net45" />
  <package id="NEventStore.Persistence.MongoDB" version="6.0.0-beta0092" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" userInstalled="true" />
  <package id="Rebus" version="4.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Rebus.CastleWindsor" version="4.0.0" targetFramework="net45" />
  <package id="Rebus.Events" version="4.0.0" targetFramework="net45" />
  <package id="Rebus.Log4net" version="4.0.0" targetFramework="net45" />
  <package id="Rebus.MongoDb" version="3.0.0" targetFramework="net45" />
  <package id="Rebus.Msmq" version="4.0.0" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net45" />
</packages>