<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <threshold value="INFO" />
    <param name="File" value="Logs\projection.service.log"/>
    <appendToFile value="true"/>
    <rollingStyle value="Composite"/>
    <datePattern value="yyyyMMdd"/>
    <maxSizeRollBackups value="10"/>
    <maximumFileSize value="5MB"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d %-8ndc %-5thread %-5level %logger %message %n"/>
    </layout>
  </appender>
  <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <mapping>
      <level value="ERROR"/>
      <foreColor value="Red, HighIntensity"/>
      <backColor value="Yellow, HighIntensity"/>
    </mapping>
    <mapping>
      <level value="INFO"/>
      <foreColor value="Blue, HighIntensity"/>
      <backColor value="Yellow, HighIntensity"/>
    </mapping>
    <mapping>
      <level value="WARN"/>
      <foreColor value="Red"/>
      <backColor value="Yellow, HighIntensity"/>
    </mapping>
    <mapping>
      <level value="DEBUG"/>
      <foreColor value="Blue"/>
      <backColor value="Yellow, HighIntensity"/>
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5level %t %d %message%newline"/>
    </layout>
  </appender>
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="RollingFile"/>
    <appender-ref ref="ColoredConsoleAppender"/>
  </root>
</log4net>