<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!--All database with log should be prefixed with mongo-log the value
    is the connection string, followed by a pipe and then collection name-->
    <add key="mongo-log-ds" value="mongodb://localhost/ds-logs|logs" />
    <add key="upload-temp-folder" value="uploadQueue" />
    <add key="server-address" value="http://localhost:55000/" />

    <add key="customer-id" value="jarvis" />
    <add key="customer-key" value="0602000000A40000525341310004000001000100BBF5E34F8C673A0874C21B25D4F5A5839CD12AF63D765C46334A26D75F4210A52775BFEF90790DA3D0D33EFBCBE6E9467851506BBF35E978169D16DDF2683CAE2FAAA91554DCC0A8ED2E37C6A2B967BC5072CAADA66C5CBB348A48D6619D21BBD5EBAA9089809DC69330F8EE6A6A627B597AF69BA43478BCEF6D676C6F49E6D7" />
  </appSettings>
  
  <connectionStrings>
    <add name="mongo" connectionString="mongodb://localhost/jarvis-agentClient" />
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.135.0" newVersion="3.1.135.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
